//colors
$primary-color:      #5B439C;
$secondary-color:    #1DA7FF;
$tertiary-color:     #BCB2D5;
$white:              #ffffff;
$black:              #313131;
$grey:               #5E5E5E;
$background-1:       #EEEEEE;
$background-2:       #28272F;
$background-3:       #22212A;

//spacing
$section-padding: 4rem;
